<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shaft.bonap" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".CreateUser"/>
        <activity android:name=".ReceiptsActivity"/>
        <activity android:name=".ReceiptsItemActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".CategoriesActivity"/>
        <activity android:name=".ProfilActivity"/>
        <activity android:name=".ListIngredientsActivity"/>
        <activity android:name=".OrderActivity"/>
        <activity android:name=".PanierActivity"/>
    </application>

</manifest>
